<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="/about_project" class="button special fit">About the Project</a></li>
		<li><a href="/about_team" class="button fit">About the Team</a></li>
		<li><a href="/fluxtower1" class="button fit">Flux Tower 1</a></li>
		<li><a href="/fluxtower2" class="button fit">Flux Tower 2</a></li>
		<li><a href="/fluxtower3" class="button fit">Flux Tower 3</a></li>
		<li><a href="/fluxtower4" class="button fit">Flux Tower 4</a></li>
	</ul>
</nav>
